## functions

function definition

In [ ]:
def student_info(name,age=18):
print(name,age)

function calling

In [ ]:
student info("John")
studentinfo("tarak", 22)

## Numpy

### Installation

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.3.2)

### import

In [6]:
import numpy as np

# creating a 1D array

In [7]:
x=np.array([1,2,3])

In [8]:
x

array([1, 2, 3])

### Creating a pandas series from module

Installation

In [10]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

Import PAnda

In [11]:
import pandas as pd

In [14]:
s= pd.Series([10,20,30,40], name="MyNumbers")

you can print without writing print

In [15]:
s

0    10
1    20
2    30
3    40
Name: MyNumbers, dtype: int64

In [16]:
print(f"Pandas Series:\n{s}")
print(f"Types of Series:\n{s}")

Pandas Series:
0    10
1    20
2    30
3    40
Name: MyNumbers, dtype: int64
Types of Series:
0    10
1    20
2    30
3    40
Name: MyNumbers, dtype: int64

In [18]:
data = {
    'Name': ['Alice','Bob','Charlie','David'],
    'Age':[25,30,35,28],
    'City':['new york', 'america', 'africa','china'],
    'Salary':[70000, 85000,95000,7200]
}

In [19]:
df= pd.DataFrame(data)
print(f"\nPandas data Frame:\n{df}")

Pandas data Frame:
      Name  Age      City  Salary
0    Alice   25  new york   70000
1      Bob   30   america   85000
2  Charlie   35    africa   95000
3    David   28     china    7200