## create a 2d array

In [7]:
import numpy as np

In [11]:
import pandas as pd

In [19]:
x =np.array(
    [[1,3,5],
    [7,11,6],
    [9, 8, 0]]
)

In [20]:
x

array([[ 1,  3,  5],
       [ 7, 11,  6],
       [ 9,  8,  0]])

In [21]:
y = x * 2

In [22]:
y

array([[ 2,  6, 10],
       [14, 22, 12],
       [18, 16,  0]])

In [39]:
data = {
    'Product Name': ['Book','pen','Copy','Duster'],
    'Price':[25,30,35,28],
    'stock Quantity':[ 10, 80, 100,70]
}

In [44]:
df= pd.DataFrame(data)
df

  Product Name  Price  stock Quantity
0         Book     25              10
1          pen     30              80
2         Copy     35             100
3       Duster     28              70

In [36]:
data['stock Quantity']

[10, 80, 100, 70]

In [42]:
df = df[df['stock Quantity']>50]
df

  Product Name  Price  stock Quantity
1          pen     30              80
2         Copy     35             100
3       Duster     28              70